@import "../../shared/other-style/mixins";

.root {
  margin-block: 48px 100px;

  &__urlNav {
    margin-bottom: 48px;
  }

  &__info {
    @include flex-gap(40px);
    margin-bottom: 48px;
    align-items: end;
  }

  &__image {
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
  }

  &__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 48px;
  }

  &__top {
    @include flex-center-beetwen;
    margin-bottom: 72px;
  }

  &__orders {
    &__empty {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: var(--color-gray-6);
      margin-bottom: 16px;
    }
    margin-bottom: 96px;
  }
}
