@import "../../../shared/other-style/mixins";
.root {
  @include flex-gap(14px);
  align-items: center;

  &__item {
    &.basket,
    &.profile {
      position: relative;

      img {
        border-radius: 50%;
      }
    }

    @media screen and (max-width: 750px) {
      &:not(:is(.profile), :is(.search)) {
        display: none;
      }
    }
  }

  &__link {
    position: relative;
    &.isNotEmpty {
      &::after {
        content: "";
        position: absolute;
        top: 9px;
        right: 2px;
        width: 8px;
        height: 8px;
        background-color: #ff0c0c;
        border-radius: 50%;
      }
    }
    &.isDisable {
      cursor: none;
      pointer-events: none;
    }
  }
}

.icon-block {
  cursor: pointer;
  display: block;
  width: var(--sizeIcon);
  height: var(--sizeIcon);

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--color-gray-light);
  }
  &:hover,
  &:active {
    svg {
      fill: var(--hoverColor);
    }
  }
}

.profile__image {
  border-radius: 50%;
}
